@{
    ViewData["Title"] = "Home Page";
}
@model posts



<div class=" bg-white home p-2">
    <h4 style="text-align:center">Job Feeds</h4>
    @foreach (var job in Model.title)
    {
        <div class="card my-3" style="">
            @*<img class="card-img-top" src="..." alt="Card image cap">*@
            <div class="card-body">
                <h5 class="card-title">@job</h5>
                <p class="card-text">

                    
                </p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item " style="font-size:10px;"> Lagos, enginerring</li>

            </ul>
            <div class="card-body">
               
            
            </div>
        </div>
    }
</div>ˀ
